name: Sync liferay-portal fork

on:
  schedule:
    - cron: "0 * * * *" 

jobs:
  sync_liferay_portal:
    runs-on: ubuntu-latest
    steps:
      - run: gh repo sync liferay-frontend/liferay-portal --source liferay/liferay-portal --branch master
        env:
          GH_TOKEN: ${{ secrets.PAT }}
